  <div ngbDropdown class="dropdown">
    <app-tooltip
        placement="left"
        text="{{'str039' | translate}}">
      <button
          class="btn btn-sm px-2"
          [ngClass]="class"
          ngbDropdownToggle>
        <i class="fa-solid fa-language fa"></i>
      </button>
    </app-tooltip>

    <ul ngbDropdownMenu class="dropdown-menu" style="width: auto; min-width: 3.7rem">
      @for (lang of (store.select(ResourcesSelectors.langCodes) | async); track lang) {
        <li>
          <a ngbDropdownItem
              class="dropdown-item text-center"
              [ngClass]="{
                'active': (store.select(ResourcesSelectors.selectedLangCode) | async) == lang
              }"
              style="cursor: pointer"
              (click)="store.dispatch(ResourcesActions.switchLang({ langCode: lang }))">
            {{ lang }}
          </a>
        </li>
      }
    </ul>
  </div>
