################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/SolanaMessenger.Web/appsettings.Production.json
