version: '3.8'
services:
  frontend:
    container_name: frontend
    build: ./frontend
    ports:
      - "8081:80"
    depends_on:
      - backend
    networks:
      - internet
    restart: on-failure

  backend:
    container_name: backend
    build: ./backend
    ports: 
      - "8080:8080"
    depends_on:
      - database
    networks:
      - localnet
      - internet
    restart: on-failure

  database:
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    expose: 
      - "5432"
    networks:
      - localnet
    volumes:
      - db_data:/var/lib/postgresql/data

networks:
  localnet:
  internet:

volumes:
  db_data: {}