<div [formGroup]="parentForm">
  <label class="form-label ms-2">{{label}}</label>
  <input
    type="text"
    class="form-control"
    formControlName="{{controlName}}"
    placeholder="{{ 'str001' | translate }}"
    [class.is-invalid]="fh.isInvalid(control)"
  >
  <div class="invalid-feedback">
    @if (fh.hasError(control, 'required')) {
      <span>{{ 'str005' | translate }}</span>
    } @if (fh.hasError(control, 'minlength')) {
      <span>{{ 'str006' | translate }}</span>
    } @if (fh.hasError(control, 'maxlength')) {
      <span>{{ 'str007' | translate }}</span>
    }
  </div>
</div>
