<div class="page bg-lightblue">
  <div class="d-flex align-items-center content">
    <div class="position-absolute top-0 end-0 p-2">
      <app-language-select [class]="'fs-5 text-white'"></app-language-select>
    </div>
    <div class="container py-lg-3 py-xxl-5">
      <div [ngClass]="isWide
        ? 'col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12 offset-0'
        : 'col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 offset-0'
      ">
        <div class="main-block">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
