<div class="align-items-center w-100"
     [ngClass]="isPreviousMessageFromTheSameSender ? 'mt-1' : 'mt-2'">
  <div class="d-flex"
       [ngClass]="isOutgoingMessage ? 'flex-row-reverse text-end' : 'flex-row'">

    <!-- Icon -->
    @if (!isPreviousMessageFromTheSameSender) {
      <app-tooltip [text]="(personName$ | async) ?? ''">
        <div class="flex-grow-0 mx-1">
          <div class="chat-icon" [style.background]="stringToColor(user.secondName)">
            {{ getInitial(user.secondName) }}
          </div>
        </div>
      </app-tooltip>
    } @else {
      <div class="chat-icon mx-1"></div>
    }

    <!-- Message -->
    <div class="bg-middle text-break rounded-3 d-flex flex-column"
         style="min-width: 25%; max-width: 65%">

      <!-- Sender name -->
      @if (!isOutgoingMessage && !isPreviousMessageFromTheSameSender) {
        <span class="ms-3 mt-1 fw-semibold">
          {{ shortenPersonName$ | async }}
        </span>
      }

      <div class="d-flex justify-content-between">

        <!-- Message text -->
        <span class="flex-grow-1 ps-3 pb-1 pe-1 align-items-center text-start white-space-pre-line"
            [ngClass]="!isOutgoingMessage && !isPreviousMessageFromTheSameSender ? '' : 'pt-1'">
          {{ message.text }}
        </span>

        <!-- Time -->
        <span class="time align-self-end me-2">
          {{ messageTime$ | async }}
        </span>

      </div>
    </div>

    <!-- Waiting for message sending  -->
    @if(isPending$ | async) {
      <div class="me-2 d-flex flex-column justify-content-center">
        <app-spinner class="text-secondary">
        </app-spinner>
      </div>
    }

  </div>
</div>
