<div class="mt-2 d-flex align-items-center bg-middle rounded-5">
  <app-close-button class="ms-1"
    [class]="'fa-lg close-dark'"
    [disabled$]="chatInfoLoading$"
    (onClickEvent)="closeChat()">
  </app-close-button>

  @if (chatInfoLoading$ | async) {
    <app-spinner
      [size]="1.2"
      class="ms-2 spinner-border-lg">
    </app-spinner>
  } @else {
    <div class="chat-text fw-medium flex-grow-1">
      {{(chat$ | async)?.name}}
    </div>
    <div class="me-3">
      <span class="time">{{'str037' | translate}} {{createdAt$ | async}}</span>
    </div>
  }
</div>
