<div class="d-flex py-1 align-items-center chat-item"
    [class.bg-middle]="isSelected$ | async"
    (click)="onClick()">
  <div class="ms-2 d-flex align-items-center position-relative">
    <div
      class="chat-icon"
      [style.background]="stringToColor(chat.name)">
      {{ getInitial(chat.name) }}
    </div>

    @if (chat.hasNewEvents) {
      <span class="mt-1 position-absolute top-0 start-100 translate-middle p-2 color-shift-badge border border-light rounded-circle">
      </span>
    }
  </div>

  <div class="flex-grow-1">
    <div class="text-truncate chat-item-text">
      <span class="chat-text">{{chat.name}}</span>
    </div>
  </div>
</div>
