<app-main-template>
  <div class="flex-grow-1 d-flex">
    <div class="bg-light sidebar position-relative">

      @if (chatsLoading$ | async) {
        <div class="position-absolute top-50 start-50 translate-middle">
         <app-spinner
          [size]="2">
         </app-spinner>
        </div>
      }

      @if (chatsLoaded$ | async) {
        <div class="overflow-x-hidden overflow-y-auto d-flex flex-column chat-scroll-sidebar">
          <app-search-input
            placeholder="{{'str031' | translate}}"
            (onInputEvent)="onSearch($event)">
          </app-search-input>

          <cdk-virtual-scroll-viewport class="mt-2 flex-grow-1 overflow-x-hidden" itemSize="38">
            <ng-container *cdkVirtualFor="let chat of chats$ | async; trackBy: trackByID">
              <app-chat-item
                [chat]="chat"
                (onClickEvent)="onChatOpen($event)">
              </app-chat-item>
            </ng-container>
          </cdk-virtual-scroll-viewport>
        </div>
      }
    </div>

    <div class="flex-grow-1">

      @if (chatSelected$ | async) {
        <div class="h-100 mx-auto" style="max-width: 1400px">
          <div class="mx-4 d-flex flex-column h-100">
            <div>
              <app-chat-header>
              </app-chat-header>
            </div>
            <div class="flex-grow-1 my-2 position-relative">
              @if (messagesLoading$ | async) {
                <div class="d-flex justify-content-center position-absolute bottom-50 w-100">
                  <app-spinner [size]="2"></app-spinner>
                </div>
              }
              <cdk-virtual-scroll-viewport #messagesViewport class="h-100" [itemSize]="MESSAGE_ITEM_SIZE">
                @if (messages$ | async; as messages) {
                  @if (selectedChat$ | async; as chat) {
                    <ng-container *cdkVirtualFor="let message of messages; let i = index; trackBy: trackByID">
                      <app-message
                        [chat]="chat"
                        [message]="message">
                      </app-message>
                    </ng-container>
                  }
                }
              </cdk-virtual-scroll-viewport>
            </div>
            <div>
              <app-chat-message-input>
              </app-chat-message-input>
            </div>
          </div>
        </div>
      } @else {
        <div class="d-flex align-items-center justify-content-center w-100 h-100">
          <div class="bg-light py-1 px-3 rounded-5">{{'str033' | translate}}</div>
        </div>
      }

    </div>

  </div>
</app-main-template>
