<div class="ms-4 py-1 align-items-center">
  <div class="d-flex" style="max-width: 50%">
    <div class="flex-grow-0">
      <div
        class="chat-icon"
        [style.background]="stringToColor('asdfasdfasdfasdf')">
        {{ getInitial('asdfasdlfkja;sdlfkjas') }}
      </div>
    </div>

    <div class="bg-middle text-break ms-1 rounded-3 px-3 py-1 position-relative" style="min-width: 25%;">
      <span class="me-4">asdfasasl;dkfja;sldkfjasdfghasdjhf asdfaosidufy ahsdjfhoiuqy kjashdfoiuqwejklasdfhaf ffasdfas asdf asdfasd fasd asfdasd fasdfasd f</span>
      <span class="position-absolute bottom-0 end-0 fw-medium pe-1" style="font-size: 0.8rem; color: #878787">
        23:12
      </span>
    </div>
  </div>
</div>
