.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.home-content {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  display: flex;
  align-items: center;
  margin: 0;
}

@media (max-height: 400px) {
  .header,
  .footer {
    height: 10vh;
  }
  .chat-scroll-sidebar {
    height: 80vh;
  }
}

@media (min-height: 401px) and (max-height: 600px) {
  .header,
  .footer {
    height: 8vh;
  }
  .chat-scroll-sidebar {
    height: 84vh;
  }
}

@media (min-height: 601px) and (max-height: 700px) {
  .header,
  .footer {
    height: 6vh;
  }
  .chat-scroll-sidebar {
    height: 88vh;
  }
}

@media (min-height: 701px) {
  .header,
  .footer {
    height: 4vh;
  }
  .chat-scroll-sidebar {
    height: 92vh;
  }
}

.bg-lightblue {
  background: linear-gradient(45deg, rgba(1,126,190,1) 0%, rgba(72,193,255,1) 50%, rgba(138,216,255,1) 100%);
}

.main-block {
  background-color: rgb(248, 249, 250);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 8px rgba(56, 56, 56, 0.1);
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-in {
  animation: fade-in 200ms ease-in forwards;
}

.fade-out {
  animation: fade-out 300ms ease-out forwards;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-blue);
  --bs-tooltip-color: var(--bs-white);
}

@media (max-width: 1024px) {
  .sidebar {
    min-width: 250px;
  }
  .chat-item-text{
    width: 200px;
  }
}
@media (min-width: 1025px) and (max-width: 1920px) {
  .sidebar {
    width: 350px;
  }
  .chat-item-text{
    width: 300px;
  }
}

@media (min-width: 1921px) {
  .sidebar {
    width: 400px;
  }
  .chat-item-text{
    width: 350px;
  }
}


.chat-item:hover {
  background-color: #ededed;
  cursor: pointer;
}

.chat-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.chat-text {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
}

.bg-middle {
  background-color: #e8e8e8;
}

.close-light {
  color: #dddddd;
}
.close-light:hover {
  color: #ffffff;
  cursor: pointer;
}

.close-dark {
  color: #333333;
}
.close-dark:hover {
  color: #636363;
  cursor: pointer;
}

.close-light,
.close-light:hover,
.close-dark,
.close-dark:hover {
  transition: 0.2s;
}

.chat-input {
  resize: none;
  overflow-y: hidden;
  min-height: 38px;
  max-height: 200px;
}

.color-shift-badge {
  animation: pulseColors 2s infinite alternate;
}

@keyframes pulseColors {
  0%   { background-color: #28a745; }
  100%  { background-color: #136d24; }
}

.time {
  font-size: 0.8rem;
  color: #878787;
  min-width: 2rem;
  font-weight: 500;
}
