.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  margin-top: auto;
  background-color: #333;
  color: #fff;
}

.bg-lightblue {
  background: linear-gradient(45deg, rgba(1,126,190,1) 0%, rgba(72,193,255,1) 50%, rgba(138,216,255,1) 100%);
}

.main-block {
  background-color: rgb(248, 249, 250);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 8px rgba(56, 56, 56, 0.1);
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-in {
  animation: fade-in 200ms ease-in forwards;
}

.fade-out {
  animation: fade-out 300ms ease-out forwards;
}
